@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
  font-family: 'Oxygen', sans-serif;
}


body {
  background-color: #FFFFFF;
  min-width:1000px;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #000000;
}

a {
}

section {
  width: 80%;
  margin: auto;
  text-align: left;
}

.container {
  width: 80%
  margin: auto
}

.name-box {
  text-align: center;
}

.name {
  font-size: 3em;
  font-weight: 300;
}

.link-group {
  margin: auto;
  text-align: center;
  width: 100%;
}

.project-row-box {
  display: flex;
  align-items: center;
}

.project-text {
  flex: 1 1 auto;
}

.project-img-box {
  float: left;
  margin: 0px 20px;
  min-width: 150px;
  min-height: 150px;
}

img.profile-img {
  max-width: 200px;
  max-height: 200px;
  /*width: auto;*/
  /*height: auto;*/
  border-radius: 8px;
}

img.project-img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 10px auto;
}

