@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
  font-family: 'Oxygen', sans-serif;
}


body {
  background-color: #FFFFFF;
  min-width:1000px;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #000000;
}

a {
}

.container {
  width: 80%
  margin: auto
}

.section {
  width: 80%;
  margin: auto;
  text-align: left;
}

.name-box {
  text-align: center;
}

.name {
  font-size: 3em;
  font-weight: 300;
}

.link-group {
  margin: auto;
  text-align: center;
  width: 100%;
}

img.profile-img {
  max-width: 200px;
  max-height: 200px;
  /*width: auto;*/
  /*height: auto;*/
  border-radius: 8px;
}

img.table-img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

